.header {
    overflow: hidden;
    background-color: #929292;
    width: 100%;
}

.title {
    flex-grow: 2;
    font-size: 18px;
    margin-top: auto !important;
    min-width: 100px;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex !important;
}
